@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.pop {
  font-family: 'Poppins', sans-serif;
}

.bun {
  font-family: 'Bungee', sans-serif;
}
