<div class="card p-3" style="width: 18rem">
  <img [src]="prd.image" class="card-img-top" alt="missing_img" height="200px" />
  <div class="card-body">
    <h5 class="card-title">{{ prd.title }}</h5>
    <p class="card-text">{{ prd.description }}</p>
    <div class="d-flex justify-content-between align-items-center">
      @if (!isAddBtnShow) {
      <button class="btn btn-dark" (click)="isAddBtnShow = true; $event.stopPropagation()">
        Add to Cart
      </button>
      } @else {
      <div class="d-flex w-50">
        <input type="number" #countInp class="fomr-control" min="1" max="10" />
        <button
          class="btn btn-primary ms-2"
          (click)="add(countInp.value); $event.stopPropagation()"
        >
          Add
        </button>
      </div>
      }
      <p class="mb-0 text-primary p-2 rounded-5 bg-danger-subtle">${{ prd.price }}</p>
    </div>
  </div>
</div>
